@import "global.css";
@import "theme.css";
@import "splash.css";

@font-face {
  font-family: "Varela";
  src: url("/fonts/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "Khand";
  src: url("/fonts/Khand-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf");
}
