:root {
  --t: 32s;
  /* --color1: #124;
  --color3: #469;
  --color2: #614;
  --color4: #c63;
  --color5: #266; */

  /* --color1: #660000;
  --color3: #990033;
  --color2: #5F021F;
  --color4: #8C001A;
  --color5: #FF9000; */

  /* --color1: #293857;
  --color2: #414e69;
  --color3: #58647c;
  --color4: #03070e;
  --color5: #020307; */

  --color2:#22AED1;
  --color4:#6D8EA0;
  --color3:#22AED1;
  --color5:#016FB9;
  --color1: #182825;
}

.bokeh {
  height: 100vh;
  width: 100vw;
  background-color: #124;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(50px);
  transform: translateZ(0);
  backface-visibility: hidden;
  z-index: 1;
}

.bokeh circle {
  animation: rotate var(--t) linear infinite;
  fill: var(--color1);
  opacity: 0.43;
  transform-origin: 50%;
  z-index: 1;
}

.bokeh circle:nth-child(2n) {
  fill: var(--color2);
  transform-origin: 20% 110%;
  animation-delay: -var(--t)/2;
            animation-duration:var(--t)*.6886;
    opacity: 0.2;
}

.bokeh circle:nth-child(3n) {
  opacity: 0;
  /* opacity: 0.65; */
  fill: var(--color3);
  transform-origin: 70% 30%;
  animation-delay: -var(--t)/4;
  animation-duration:var(--t)*1.3333;
}

.bokeh circle:nth-child(4n) {
  fill: var(--color4);
  transform-origin: 110% 70%;
  animation-delay: -var(--t)/3;
        animation-duration:var(--t)*.79666;
}

.bokeh circle:nth-child(5n) {
  fill: var(--color5);
  transform-origin: 30% 40%;
}

.bokeh circle:nth-child(6n) {
  fill: var(--color1);
  transform-origin: -10% 80%;
  animation-delay: -var(--t)*1.3;
}

.bokeh circle:nth-child(7n) {
  fill: var(--color2);
  transform-origin: 70% -10%;
}

.bokeh circle:nth-child(8n) {
  fill: var(--color4);
  transform-origin: -30% 50%;
  animation-delay: -var(--t)/2.5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

