<section
  id="about"
  class="flex pt-24 flex-col text-xl items-center"
>
  <div class="flex flex-col items-center gap-4">
    <h2
      class="gradient-text text-center text-2xl mb-4"
    >
      About me
    </h2>
  </div>
  <p class="w-10/12 mb-8">
    I am a UK based developer that has been working on the web platform
    since <span class="text-primary">March 2000</span> - the same month that the dot-com bubble burst
    (pure coincidence). Starting my career as a Junior Front-end Developer at
    a small web design agency in West London, I soon moved to the bright lights of Farringdon, joining <span class="text-primary">Freeserve</span>: at that time, the UK's
    biggest web portal. I have since been lucky enough to work for the <span class="text-primary">BBC</span>,
    <span class="text-primary">The Guardian</span>, <span class="text-primary">Channel 4</span>, <span class="text-primary">Sky</span>, <span class="text-primary">Vodafone</span>, and <span class="text-primary">Orange</span>, amongst others.
  </p>
  <p class="w-10/12">
    Primarily a <span class="text-primary">Front-end Developer</span>, with an eye for <span class="text-primary">design</span> (despite what you might think of this site), I have also held <span class="text-primary">Back-end</span>
    roles, and those that may be accused of being <span class="text-primary">Full Stack</span>. Like many in our industry,
    expecially those who - like me - are self taught, I have often succumbed to imposter
    syndrome. To combat this, I began a <span class="text-primary">BSc in Computer Science</span> at the <span class="text-primary">University of London</span>
    in 2019. Completed in March 2023, I was awarded a <span class="text-primary">First Class Honours Degree</span> in July of the same year.
  </p>
</section>