<svg
  class="bokeh"
  viewBox="0 0 10 10"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle cx="10%" cy="85%" r="75%"  />
  <circle cx="45%" cy="50%" r="15%"   />
  <circle cx="85%" cy="35%" r="30%"  />
  <circle cx="60%" cy="85%" r="20%"   />
  <circle cx="45%" cy="50%" r="30%"   />
  <circle cx="35%" cy="25%" r="20%"   />
  <circle cx="90%" cy="-25%" r="35%"  />
  <circle cx="-15%" cy="30%" r="30%"  />
  <circle cx="65%" cy="85%" r="55%"   />
  <circle cx="45%" cy="50%" r="20%"   />
</svg>

<section class="relative h-full flex items-center justify-center flex-col">
  <div>
    <h1 class="font-khand uppercase text-center px-4 m-0 mb-2 sm:mb-0 gradient-text md:text-9xl">
      Danny Callaghan
    </h1>
  </div>
  <div class="flex items-center justify-center max-w-3xl px-4">
    <p class="text-lg text-gray-300 !leading-tight m-0 text-center">Web Developer with over twenty years experience working on the technical and creative design, development and deployment of web sites and web applications.</p>
  </div>
</section>

<style>
h1 {
  font-size: 6rem;
  line-height: 5rem;
}
</style>